<template>
  <div class="home">
    <h1 class="subheading grey--text">Dashboard</h1>
    <v-container class="my-5">
      <v-layout row class="mb-3">
        <v-tooltip top>
          <v-btn
            slot="activator"
            small
            flat
            color="grey"
            @click="sortBy('title')"
          >
            <v-icon left small>folder</v-icon>
            <span class="caption text-lowercase">by project name</span>
          </v-btn>
          <span>Sort project by title</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn
            slot="activator"
            small
            flat
            color="grey"
            @click="sortBy('person')"
          >
            <v-icon left small>person</v-icon>
            <span class="caption text-lowercase">by person name</span>
          </v-btn>
          <span>Sort project by person name</span>
        </v-tooltip>
      </v-layout>
      <project-summary
        v-for="(project, index) in projects"
        :key="index"
        :title="project.title"
        :person="project.person"
        :due="project.due"
        :status="project.status"
      />
    </v-container>
  </div>
</template>

<script>
import ProjectSummary from "@/components/ProjectSummary";

export default {
  data() {
    return {
      projects: [
        {
          title: "Design a new website",
          person: "The Net Ninja",
          due: "1st Jan 2019",
          status: "ongoing",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!"
        },
        {
          title: "Code up the homepage",
          person: "Chun Li",
          due: "10th Jan 2019",
          status: "complete",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!"
        },
        {
          title: "Design video thumbnails",
          person: "Ryu",
          due: "20th Dec 2018",
          status: "complete",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!"
        },
        {
          title: "Create a community forum",
          person: "The Boom Tube",
          due: "20th Oct 2018",
          status: "overdue",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!"
        },
        {
          title: "Create a desktop page",
          person: "The Boom Tube",
          due: "19th Sep 2018",
          status: "complete",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!"
        }
      ]
    };
  },
  components: {
    ProjectSummary
  },
  methods: {
    sortBy(prop) {
      this.projects = this.projects.sort((a, b) => {
        return a[prop] < b[prop] ? -1 : 1;
      });
    }
  }
};
</script>
