<template>
  <div class="team">
    <h1 class="subheading grey--text">Team</h1>
    <v-container class="my-5">
      <v-layout row wrap>
        <person-summary
          v-for="(person, index) in team"
          :key="index"
          :name="person.name"
          :role="person.role"
          :avatar="person.avatar"
        />
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import PersonSummary from "@/components/PersonSummary";

export default {
  data() {
    return {
      team: [
        {
          name: "The Net Ninja",
          role: "Web developer",
          avatar: "/avatar-1.png"
        },
        { name: "Ryu", role: "Graphic designer", avatar: "/avatar-2.png" },
        { name: "Chun Li", role: "Web developer", avatar: "/avatar-3.png" },
        {
          name: "The Boom Tube",
          role: "Social media maverick",
          avatar: "/avatar-4.png"
        },
        { name: "Yoshi", role: "Sales guru", avatar: "/avatar-5.png" }
      ]
    };
  },
  components: {
    PersonSummary
  }
};
</script>
