<template>
  <v-menu offset-y>
    <v-btn flat color="grey" slot="activator" dark>
      <v-icon left>expand_more</v-icon>
      <span>Menu</span>
    </v-btn>
    <v-list>
      <v-list-tile
        v-for="(link, index) in links"
        :key="index"
        router
        :to="link.route"
      >
        <v-list-tile-title>{{ link.text }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    links: Array
  }
};
</script>
