<template>
  <v-list-tile router :to="route">
    <!-- Good place for icons -->
    <v-list-tile-action>
      <v-icon class="white--text">{{ icon }}</v-icon>
    </v-list-tile-action>

    <!-- Main content -->
    <v-list-tile-content>
      <v-list-tile-title class="white--text">{{ text }}</v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script>
export default {
  name: "NavbarLink",
  props: {
    icon: String,
    text: String,
    route: String
  }
};
</script>
