<template>
  <nav>
    <v-toolbar app flat>
      <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer" />
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Todo</span>
        <span>Ninja</span>
      </v-toolbar-title>

      <!-- Spacer takes up all the space between -->
      <v-spacer />

      <!-- Dropdown menu -->
      <drop-down-menu :links="links" />

      <v-btn flat color="grey">
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer app v-model="drawer" class="primary">
      <v-layout column align-center>
        <v-flex class="mt-5">
          <v-responsive class="text-xs-center">
            <v-avatar size="100">
              <img src="/avatar-4.png" />
            </v-avatar>
          </v-responsive>
          <!-- User name -->
          <p class="white--text subheading mt-1 mb-4 text-xs-center">
            The Boom Tube
          </p>
        </v-flex>
        <v-flex>
          <popup class="mt-4 mb-3" />
        </v-flex>
      </v-layout>
      <!-- Similar to ul -->
      <v-list>
        <navbar-link
          v-for="(link, index) in links"
          :key="index"
          :text="link.text"
          :icon="link.icon"
          :route="link.route"
        />
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import NavbarLink from "@/components/NavbarLink";
import DropDownMenu from "@/components/DropDownMenu";
import Popup from "@/components/Popup";

export default {
  name: "Navbar",
  data() {
    return {
      drawer: false,
      links: [
        { icon: "dashboard", text: "Dashboard", route: "/" },
        { icon: "folder", text: "My Projects", route: "/projects" },
        { icon: "person", text: "Team", route: "/team" }
      ]
    };
  },
  components: {
    NavbarLink,
    DropDownMenu,
    Popup
  }
};
</script>
