<template>
  <v-flex xs12 sm6 md4 lg3>
    <v-card flat class="text-xs-center ma-3">
      <!-- Image -->
      <v-responsive class="pt-4">
        <v-avatar size="100" class="grey lighten-2">
          <img :src="avatar" />
        </v-avatar>
      </v-responsive>

      <!-- Description -->
      <v-card-text>
        <div class="subheading">{{ name }}</div>
        <div class="grey--text">{{ role }}</div>
      </v-card-text>

      <!-- Button -->
      <v-card-actions>
        <v-btn flat color="grey">
          <v-icon small left>message</v-icon>
          <span>message</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: {
    name: String,
    role: String,
    avatar: String
  }
};
</script>
