<template>
  <v-dialog max-width="600px">
    <v-btn flat slot="activator" class="success">Add new project</v-btn>
    <v-card>
      <v-card-title>
        <h2>Add a New Project</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" ref="form">
          <!-- Title -->
          <v-text-field
            label="Title"
            v-model="title"
            prepend-icon="folder"
            :rules="inputRules"
          />

          <!-- Date picker -->
          <v-menu :close-on-content-click="false" v-model="showDatePicker">
            <v-text-field
              slot="activator"
              :value="formattedDate"
              label="Due date"
              prepend-icon="date_range"
              :rules="dateRules"
            />
            <v-date-picker
              v-model="due"
              @change="showDatePicker = false"
            ></v-date-picker>
          </v-menu>

          <!-- Spacer -->
          <v-spacer />

          <!-- Content  -->
          <v-textarea
            label="Information"
            v-model="content"
            prepend-icon="edit"
            :rules="inputRules"
          />

          <!-- Submit button -->
          <v-btn flat class="success mx-0" @click="submitForm"
            >Add project</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import format from "date-fns/format";
import db from "@/fb";

export default {
  data() {
    return {
      title: "",
      content: "",
      due: null,
      showDatePicker: false,
      inputRules: [
        v => {
          return v.length >= 3 || "Minimum length is 3 characters";
        }
      ],
      dateRules: [
        v => {
          return v.length > 0 || "Select a date";
        }
      ]
    };
  },
  computed: {
    formattedDate() {
      return this.due ? format(this.due, "Do MMM YYYY") : "";
    }
  },
  methods: {
    submitForm() {
      if (this.$refs.form.validate()) {
        // Step 1: Create the objec to add to the data base
        const project = {
          title: this.title,
          content: this.content,
          due: this.formattedDate,
          person: "The Boom Tube",
          status: "ongoing"
        };

        // Step 2: Add to database
        db.collection("Projects")
          .add(project)
          .then(() => {
            // console.log("Added to db");
          });
      }
    }
  }
};
</script>
