<template>
  <v-card flat>
    <v-layout row wrap :class="`project ${status}`">
      <!-- Title -->
      <v-flex xs12 md6 class="pa-3">
        <div class="caption grey--text">Project title</div>
        <div>{{ title }}</div>
      </v-flex>

      <!-- Person -->
      <v-flex xs6 sm4 md2 class="pa-3">
        <div class="caption grey--text">Person</div>
        <div>{{ person }}</div>
      </v-flex>

      <!-- Due Date -->
      <v-flex xs6 sm4 md2 class="pa-3">
        <div class="caption grey--text">Due by</div>
        <div>{{ due }}</div>
      </v-flex>

      <!-- Status -->
      <v-flex xs2 sm4 md2 class="pa-3">
        <v-chip small :class="`${status} white--text caption my-2`">{{
          status
        }}</v-chip>
      </v-flex>
    </v-layout>
    <v-divider />
  </v-card>
</template>

<script>
export default {
  props: {
    title: String,
    person: String,
    status: String,
    due: String
  }
};
</script>

<style scoped>
.project.complete {
  border-left: 4px solid #3cd1c2;
}

.project.ongoing {
  border-left: 4px solid orange;
}

.project.overdue {
  border-left: 4px solid tomato;
}

.v-chip.complete {
  background-color: #3cd1c2;
}

.v-chip.ongoing {
  background-color: #ffaa2c;
}

.v-chip.overdue {
  background-color: #f83e70;
}
</style>
