<template>
  <v-expansion-panel>
    <v-expansion-panel-content>
      <div slot="header">{{ title }}</div>
      <v-card>
        <v-card-text class="px-4 grey--text">
          <div class="font-weight-bold">due by {{ due }}</div>
          <div>{{ info }}</div>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  props: {
    title: String,
    due: String,
    info: String
  }
};
</script>
